:root {
    --main-bg-color : #2c3e50;
    --content-bg-color :#bdc3c7;
    --text-color : #34495e;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: var(--main-bg-color);
}

html {
    pointer-events: none;
}

content-center {
    text-align: center;
    display: block;
    min-width: 30%;
    padding: 10px;
    border-radius: 8px;
    color: var(--text-color);
    pointer-events: auto;
    background-color: var(--content-bg-color);
}

@media (max-width: 600px) {
    content-center {
        padding: 0px;
        padding-top: 5px;
        width: 98%;
    }
}


h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 5px;
}

h1 {
    font-size: 2.5em;
}

h1:hover {
    color: #335080;
    font-size: 2.6em;
}


a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    font-size: 1.5em;
    margin: 5px;
    border-radius: 5px;
    color: #ecf0f1;
}

a:hover {
    font-size: 1.8em;
    color : var(--text-color)
}


content-center.animated > a {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-property: font-size, color;
}

content-center.animated > h1 {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-property: font-size, color;
}


#particles-js {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    pointer-events: auto;
}

#container-center {
    pointer-events: none;
    display: grid;
    height: 100vh;
    overflow: hidden;
    place-items: center;
}